@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Avatar {
  margin: 0 8px 8px 90px;
}

.joinButton {
  margin: 0 0 8px 8px
}

.coffee-outer {
	display: flex;
	justify-content: space-around;
	background-color: rgba(128, 128, 128, 0.297);
	height: 100vh;
	align-items: center;
}

.coffee-inner {
	width: 50vh;
}

.listItemButton {
	margin-right: 20vh;
}
